name: Email Step Demo

on:
  workflow_dispatch:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: 21f1000397@ds.study.iitm.ac.in
        run: echo "Hello, world!"
